/* preload graphics */
/* a special element is created in the DOM for every CSS include */
/* ID of this element is "#preloader-CSS_FILE_NAME_BASE" (same case, no extension) */
/* use it to preload your graphics before panel it created */
#preloader-wifi-map-panel-widget::after {
	position: absolute;
	width: 0;
	height: 0;
	overflow: hidden;
	z-index: -1;
	content:
		url("./arrow-white.svg")
        ;
}

.video_overlay .cmd-vel-overlay {
    position: absolute;
    right: 20px;
    bottom: 20px;
    width: 70%;
    height: 50%;
    /* background-color: red; */
    max-height: 150px;
    max-width: 230px;
    z-index: 11;
}

.video_overlay .cmd-vel-overlay .dir {
    position: absolute;
    width: 33.333%;
    height: 50%;
    /* background-color: blue;; */
}

.video_overlay .cmd-vel-overlay .dir SPAN {
    position: absolute;
    background-color: #00000073;
    left: 5px;
    top: 5px;
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    border-radius: 10px;
}

.video_overlay .cmd-vel-overlay .dir SPAN:before {
    content: '';
    position: absolute;
    background-image: url(./arrow-white.svg);
    display: block;
    background-size: 30%;
    background-repeat: no-repeat;
    background-position: center;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
   
}

.video_overlay .cmd-vel-overlay .dir.on SPAN {
    /* background-color: rgba(255, 255, 0, 0.836); */
}

.video_overlay .cmd-vel-overlay .dir.left {
    left: 0%;
    top: 50%;
}
.video_overlay .cmd-vel-overlay .dir.left SPAN:before {
    transform: rotate(90deg);
}

.video_overlay .cmd-vel-overlay .dir.right {
    right: 0%;
    top: 50%;
}
.video_overlay .cmd-vel-overlay .dir.right SPAN:before {
    transform: rotate(-90deg);
}

.video_overlay .cmd-vel-overlay .dir.fw {
    left: 33.333%;
    top: 0%;
}
.video_overlay .cmd-vel-overlay .dir.fw SPAN:before {
    transform: rotate(180deg);
}

.video_overlay .cmd-vel-overlay .dir.back {
    left: 33.333%;
    bottom: 0%;
}


.video_overlay .cmd-vel-overlay .dir.rot-left {
    left: 0%;
    top: 0%;
}
.video_overlay .cmd-vel-overlay .dir.rot-left SPAN:before {
    transform: rotate(45deg);
    top: 10%;
    left: -3%;
}

.video_overlay .cmd-vel-overlay .dir.rot-right {
    right: 0%;
    top: 0%;
}
.video_overlay .cmd-vel-overlay .dir.rot-right SPAN:before {
    transform: rotate(-45deg);
    top: 10%;
    left: 3%;
}